/* Theme Specific CSS */
body {font-family: 'Open Sans', sans-serif; font-size: 18px; background: #041428;}

h1 {font-size: 2.667em;}

/* Forms & Buttons in Bootstrap */
.btn {padding: 13px 20px; width: 350px;}
.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn:visited {color: #fff;}
.btn-primary {background: #7099b1; border-color: #7099b1; color: #fff; border-radius: 0; font-size: 1.111em; text-transform: uppercase; letter-spacing: 0.05em;}
.btn-primary:hover {background: #5a89a5; border-color: #5a89a5; color: #fff;}
.btn-default {background: #b88886; border-color: #b88886; color: #fff; border-radius: 0; font-size: 1.111em; text-transform: uppercase; letter-spacing: 0.05em;}
.btn-default:hover {background: #ab7371; border-color: #ab7371; color: #fff;}
::-moz-placeholder {opacity: 1;}
.form-control {background: transparent; border-color: #fff; border-radius: 0; font-size: 1.111em; color: #fff; height: 58px;}
.form-control::-webkit-input-placeholder {color: #fff;}
.form-control:-moz-placeholder {color: #fff;}
.form-control::-moz-placeholder {color: #fff;}
.form-control:-ms-input-placeholder {color: #fff;}
.form-control:focus {border-color: #041428; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(4, 20, 40, 0.6);}
/* Custom Select Arrow */
span.Help {display: block; width: 100%;}
span.Help:after {height: 58px; width: 67px; content: ""; display: block; background-color: #fff; position: absolute; top: 0; right: 0;}
span.Help:before {width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; border-top: 18px solid #7194a9; content: ""; position: absolute; top: 20px; right: 20px; z-index: 10;}
select.form-control {z-index: 20;}
.form-control-wrap {background-color: #fff;}

.site-header {padding: 50px 0 100px; background-repeat: no-repeat; background-position: top left;}
.site-header .container-fluid {position: relative;}
/*Custom Site Headers*/
.home .site-header {background-image: url('../images/body-bg.png'), url('../images/homepage-banner.jpg'); padding: 50px 0 170px;}
/* End of Custom Site Headers */
.logo {position: relative; left: 60px;}
.header-contact {padding-right: 65px; color: #fff; position: relative;}
.header-contact:after {width: 98%; height: 1px; background-color: #fff; display: block; content: ""; position: relative; top: 38px; float: right;}
.header-contact a {color: #fff;}
.header-contact a:hover {color: #BAD5EB; text-decoration: none;}
.site-header .social {list-style: none; float: right;}
.social li {display: inline-block; font-size: 23px; padding: 0 6px;}
.social li:last-child {padding-right: 0;}
.social li a {border: 2px solid #fff; border-radius: 50%; width: 43px; height: 43px; display: block;}
.social li a:hover {border-color: #BAD5EB;}
.social li a i {position: relative; left: 10px; top: 3px;}
.social li a i.fa-facebook {left: 12px;}
.social li a i.fa-twitter {left: 9px;}
.social li a i.fa-youtube-play {left: 8px;}
.social li a i.fa-linkedin {top: 2px;}
.social li a i.fa-instagram {left: 9px;}
.header-contact p {float: right; font-size: 0.944em; letter-spacing: 0.05em; clear: right;}
.header-contact p span {padding: 0 5px;}


.homepage-hero {margin-right: 65px; border: 1px solid #fff; border-bottom: none; background-color: rgba(0,0,0,.40); color: #fff; text-align: center; padding: 30px 30px 40px; margin-top: 10vh; position: relative;}
.homepage-hero h1 {font-weight: 700; font-size: 3.667em; text-transform: uppercase; letter-spacing: -0.05em; margin: 10px 0;}
.homepage-hero h2 {color: #bdd7eb; font-weight: 300; font-size: 2.111em; text-transform: uppercase; margin: 10px 0;}
.homepage-hero h3 {font-weight: 300; font-style: italic; font-size: 3.667em; text-transform: uppercase; margin: 10px 0 35px;}
.homepage-hero .btn-primary {margin-right: 30px;}
.homepage-hero .continue {position: absolute; bottom: 0; left: 0; height: 40px; width: 100%;}
.homepage-hero .continue a {border: 2px solid #fff; border-radius: 50%; width: 40px; height: 40px; display: block; margin: 0 auto; color: #fff; position: relative; top: 18px;}
.homepage-hero .continue a img {position: relative; left: -3px; top: -1px;}
.homepage-hero .continue:before {content: ""; background: #fff; height: 1px; width: 47.5%; display: block; position: absolute; right: 0; bottom: 0;}
.homepage-hero .continue:after {content: ""; background: #fff; height: 1px; width: 47.5%; display: block; position: absolute; left: 0; bottom: 0;}

/* Navigation */
nav .container-fluid {background-image: linear-gradient(to right, #7099b1, #7099b1 50%, #b88886 50%, #b88886 85%)}
.mainmenu {background: #7099b1;}
.telephone {background: #b88886; padding-right: 0; font-weight: 300; letter-spacing: 0.05em; font-size: 1.667em; padding-top: 10px; text-align: center;}
.telephone a {color: #fff;}
.telephone a:hover {text-decoration: none;}
.mainmenu .nav > li > a {padding: 20px 12px;}
.mainmenu .nav > li:first-child > a {padding-left: 0;}
.nav-pills > li > a {font-size: 0.944em; background-color: transparent; color: #fff; border-radius: 0; text-transform: uppercase; letter-spacing: 0.05em; font-weight: 300;}
.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background-color: #7099B1; color: #041428;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {background-color: transparent; color: #fff; font-weight: 700;}
.dropdown-menu {background-color: #5a89a5; border: none; border-radius: 0; box-shadow: none; margin: 0;}
.dropdown-menu > li > a {color: #fff; font-weight: 300; letter-spacing: 0.05em;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background-color: #7099b1; color: #fff;}

/* General Content Area Styles */
#content {background: #fff;}

/* Homepage Content */
.homepage-intro {background: #041428 url('../images/homepage-intro-bg.png') no-repeat top right; padding-top: 125px; padding-bottom: 248px;}
.homepage-row {display: flex;}
.homepage-content {padding-right: 120px; color: #93b1c2;}
.homepage-content .btn {padding: 9px 20px; margin-right: 30px; width: 290px;}
.homepage-content h1 {color: #fff;}
.homepage-content article {padding-bottom: 30px;}
.homepage-featured-image {padding-left: 0;}
.homepage-featured-image img {max-width: 100%; height: auto;}
.affiliation-logos {padding-top: 55px;}
.affiliation-logos ul {list-style: none; padding-left: 0;}
.affiliation-logos ul li {display: inline-block;}
.our-procedures {position: relative;}
.our-procedures h2 {font-size: 2.667em; color: #fff; font-weight: 400; background: #b88886; display: inline-block; margin: 0; padding: 35px 220px 35px 260px; position: absolute; top: -123px; z-index: 20;}
.our-procedures h2:after {width: 0; height: 0; border-top: 123px solid transparent; border-bottom: 0px solid transparent; border-left: 110px solid #B88886; content: ""; position: absolute; right: -110px; top: 0;}
.procedures {display: flex;}
.procedure {position: relative; background: #e0e0e0; padding-left: 0;}
.procedure h4 {font-size: 1.778em; text-transform: uppercase; color: #fff; margin: 0; position: absolute; bottom: 30px; left: 15px;}
.procedure .title {width: 0; height: 0; border-top: 205px solid transparent; border-bottom: 0px solid transparent; border-left: 206px solid rgba(112,153,177,.85); position: absolute; bottom: 0; left: 0;}
.procedure.body {background: #E0E0E0 url('../images/procedure-body.jpg') no-repeat;}
.procedure.face {background: #DBDBDD url('../images/procedure-face.jpg') no-repeat right bottom;}
.procedure.breast {background: #E0E0E0 url('../images/procedure-breast.jpg') no-repeat;}
.procedure.other {background: #E0E0E0 url('../images/procedure-other.jpg') no-repeat;}


/* Footer */
.site-footer {display: flex; color: #fff;}
.site-footer a {color: #fff;}
.site-footer a:hover {color: #bad5eb; text-decoration: none;}
.contact-us {background-image: url('../images/contact-us-bg.jpg'); background-size: cover; background-position: center; padding-left: 30px;}
.contact-form {padding: 85px 55px 0;}
.contact-form h2 {font-weight: 300; font-size: 3.444em; margin-bottom: 55px;}
.reach-us {background: #041428; padding: 0;}
.contact-info {text-align: center; color: #fff; padding: 35px 0 25px;}
.site-footer .social {width: 295px; margin: 0 auto; padding-left: 0;}
.copyright {font-size: 0.667em; text-align: center; padding: 20px 0 30px;}
.copyright span, .contact-info span {padding-right: 10px;}

